.jumbotron {
    /* 設定背景顏色 */
    background-color: #093489;
    /* 設定文字顏色 */
    color: white;
    div class "item"
    argin-bottom: 10px;
    border-bottom: 10px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding: 5px;"
}
